*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.first-seg{
    width: 100%;
}
.logo{
    width: 100%;
    scale: 0.5;
    transform: translateX(-50%);
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
    padding: 2em;
}
.btn-0{
    padding: 4px 11px;
    font-size: 0.8em;
    border-radius: 5em;
    background: transparent;
    color: hsl(321, 100%, 78%);
    border-color: hsl(321, 100%, 78%);
    border-width: 1px;
}
.top-btn{
    width: 6.5em;
}
.first-seg-text{
    width: 100%;
    text-align: center;
}
.first-seg-text h3{
    font-size: 1.6em;
    font-weight: 800;
    padding: 1em;
}
.first-seg-text p{
    color:  hsl(192, 100%, 9%);
    padding: 2em;
    margin-bottom: 2em;
}
.btn-1{
   padding: 1em 3em;
   border-radius: 5em;
   background:  hsl(322, 100%, 66%);
   color: hsl(0, 0%, 100%);
   border: none;
}
.btn{
    text-align: center;
    margin-bottom: 4em;
}
.mockup img{
    width: 100%;
    padding: 2em;
    margin-bottom: 4em;
}
.numbers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formed img{
    width: 2em;
} 
.formed h2{
    font-size: 4em;
}
.formed p{
    font-size: 0.9em;
    color: hsl(0, 0%, 70%);
    padding-left: 0.5em;
    margin-bottom: 5em;
}
.sent img{
    width: 1.5em;
} 
.sent h2{
    font-size: 4em;
}
.sent p{
    font-size: 0.8em;
    color: hsl(0, 0%, 70%);
    text-align: center;
    margin-bottom: 6em;
}
.together{
    width: 100%;
    padding: 2em;
   background:  hsl(207, 100%, 98%);
}

.together-img img{
    width: 100%;
    padding: 2em;
    margin-bottom: 2em;
}
.together-texts{
    text-align: center;
    padding: 1em;
}
.together-texts h4{
font-size: 1.5em;
margin-bottom: 1em;
}
.together-texts p{
    padding: 0 1em;
    margin-bottom: 3em;
}
.converse{
    width: 100%;
    padding: 2em;
}
.converse-img img{
    width: 100%;
    padding: 2em;
    margin-bottom: 2em;
}
.converse-texts{
    text-align: center;
    padding: 1em;
}
.converse-texts h4{
font-size: 1.5em;
margin-bottom: 1em;
}
.converse-texts p{
    padding: 0 1em;
    margin-bottom: 8em;
}
.user{
    width: 100%;
    padding: 2em;
    background: hsl(207, 100%, 98%);
}
.user-img img{
    width: 100%;
    padding: 2em;
    margin-bottom: 2em;
}
.user-texts{
    text-align: center;
    padding: 1em;
}
.user-texts h4{
font-size: 1.5em;
margin-bottom: 1em;
}
.user-texts p{
    padding: 0 1em;
    margin-bottom: 8em;
}
.build{
    text-align: center;
    padding: 2em;
}
.build h4{
    font-size: 1.3em;
    font-weight: 800;
    padding: 2em;
}
.btn-2{
    padding: 1em 3em;
   border-radius: 5em;
   background:  hsl(322, 100%, 66%);
   color: hsl(0, 0%, 100%);
   border: none;
   margin-bottom: 8em;
}
.newsletter{
    width: 100%;
    padding-left: 1em;
    margin-bottom: 4em;
    padding: 2em;
     color: hsl(0, 0%, 100%);
     
}
.newsletter h2{
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 1em;
}
.newsletter p{
    margin-bottom: 1em;
    line-height: 1.5em;
   
}
.newsletter input{
    width: 100%;
    max-width: 95%;
    padding: 1em;
    border-radius: 6px;
    margin-bottom: 1em;
}
.btn-3{
    width: 100%;
    max-width: 50%;
    padding: 1em;
    font-size: 1em;
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 0.5em;
    color: hsl(0, 0%, 100%);
    transform: translateX(90%);
    margin-bottom: 2em;
}
.huddle{
    width: 100%;
    padding-left: 1em;
    padding: 2em;
   color: hsl(0, 0%, 100%);
}
.hdle{
    color: hsl(0, 0%, 100%);
    margin-bottom: 1em;
    background-color: hsl(0, 0%, 100%);
    padding: 0.5em;
    border-radius: 1em;
}
.huddle p{
    line-height: 1.5em;
    margin-bottom: 2em;
}
.phone{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.phone p{
    margin-top: 2em;
}
.email{
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: -2.5em;
}
.email p{
    margin-top: 2em;
}
.fonts-a{
    display: flex;
    gap: 1em;
    padding: 1em 0;
}
.fab{
    padding: 0.5em;
    border: 1px solid hsl(0, 0%, 100%) !important;
    background: hsl(0, 0%, 100%) !important;
    border-radius: 5px;
    color:hsl(192, 100%, 9%) ;
}
footer{
    background: hsl(192, 100%, 9%);
}
.tm1, .tm2{
    width: 100%;
    margin-bottom: -1em;
}

.bm1, .bm2{
    width: 100%;
}
.ftm{
    width: 100%;
    margin-bottom: -1em;
}
.bd1, .bd2, .td1, .td2{
    display: none;
}
.ftd{
    display: none;
}
@media screen and (min-width:996px){
    .mockup img{
        padding: 0 15em;
    }
    .numbers{
        display: flex;
        flex-direction: row;
        align-itms: center;
        justify-content: center;
        gap: 20em;
    }
    .first-seg-text p{
        padding: 0 25em;
    }
    .together{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 4em;
        padding: 0 4em;
    }
    .together-texts{
        text-align: left;
    }
    .together-texts h4{
        margin-left: 0.8em;
    }
    .converse{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4em;
        padding: 0 4em;
    }
    .converse-texts{
        text-align: left;
    }
    .converse-texts h4{
        margin-left:0.8em;
    } .user{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 4em;
        padding: 0 4em;
    }
    .user-texts{
        text-align: left;
    }
    .user-texts h4{
        margin-left: 0.8em;
    }
    .main-foot{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 10em;
        padding: 0 4em;
        font-size: 0.8em;
    }
    .tm1, .tm2, .bm1, .bm2{
    display: none;
}

.ftm{
   display: none;
}
    .bd1, .bd2{
        width: 100%;
        display: block;
    }
     .td1, .td2{
        width: 100%;
        display: block;
    }
    .ftd{
        display: block;
        width: 100%;
    }
}


